/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
    will-change: transform;
    z-index: 1000;
}

header.hide {
    transform: translateY(-100%);
}

.header-inner{
    padding-top:4px;
    padding-bottom:4px;
    height: 52px;
}

main{
    margin-top: 52px;
}

.menu-btn{
    height: 40px;
    width: 45px;
    min-width: 65px;
    padding-right: 20px;
}

.header__contacts{
    gap: 32px;
    margin-left: auto;
    max-width: fit-content;
}

.header-soc{
    margin-left: auto;
    padding: 0 40px;
}

.header__lang-link{
    color: var(--color-metallic);
    padding: 12px 4px;
}

.header__lang-link.active{
    color: var(--color-night);
    text-decoration: underline;
}

.header-menu-nav{
    width: 243px;
    transition: width 300ms;
}

.header-menu-nav.open{
    width: 100%;
}

.header-menu-list{
    gap: 32px;
    width: 0;
    overflow: hidden;
    transition: width 300ms;
}

.header-menu-list.open{
    width: 100%;
}

.header-menu-item{
    height: 100%;
    white-space: nowrap;
}

.header-menu-list .header-menu-item{
    padding: 4px 0;
}
/*END Header*/

/*breadcrumbs*/
.breadcrumbs {
    gap: 16px;
    margin: 12px 0 40px;
    overflow-y: auto;
}

.breadcrumbs li a {
    color: var(--color-concrete);
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.breadcrumbs li a:after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    min-width: 6px;
    border-radius: 1px;
    background-color: var(--color-silver);
    margin-left: 16px;
}

.breadcrumbs li:last-child {
    color: var(--color-night);
}
/*END breadcrumbs*/














































/*blog*/
.filter-btn{
    border: 1px solid var(--color-night);
    transition: background-color 300ms, color 300ms;
}

.filter-btn:has(input:checked) {
    background-color: var(--color-night);
    color: var(--color-white);
}

.blogs-container{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.blog-card{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog-card__image{
    display: flex;
    aspect-ratio: 1.5;
}

.blog-card__content{
    border: 1px solid var(--color-silver);
    background-color: var(--color-white);
    border-top: none;
    padding: 20px 24px 24px;
    gap: 16px;
    height: 100%;
    transition: background-color 300ms;
}

.blog-card__action{
    margin-top: auto;
    padding: 8px 0;
    width: fit-content;
}

.blog-card__action-inner{
    border-bottom: 1px solid var(--color-night);
}

.pagination{
    margin-top: 32px;
}

.control-btn,
.pagination-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-width: 48px;
    border: 1px solid var(--color-silver);
}

.control-btn.left svg{
    transform: translateX(-1px);
}
.control-btn.right svg{
    transform: translateX(1px);
}

.btn-disabled,
.control-btn[disabled]{
    border-color: var(--color-silver);
    background-color: var(--color-white);
}

.control-btn[disabled] svg path,
.btn-disabled svg path{
    stroke: var(--color-concrete);
}


.pagination-btn.active{
    border-color: var(--color-night);
}

.contact-form__section{
    padding: 80px 64px;
}

.contact-form__subtitle{
    max-width: 684px;
}

.contact-form__inputs{
    display: grid;
    grid-template-columns: repeat(3, minmax(204px, 1fr));
    gap: 12px;
}

.contact-form{
    display: grid;
    grid-template-columns: 8.2fr 3.7fr;
    gap: 16px;
}

.contact-form__input{
    border: 1px solid var(--color-silver);
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.contact-form__inputs .iti__selected-country-primary{
    padding-left: 16px;
}

.contact-form__button{
    max-width: 392px;
}

.contact-form__input-phone{
    padding-left: 58px !important;
}

.contact-form__bottom{
    margin-top: 40px;
}

.contact-form__agreement a{
    color: var(--color-night);
    text-decoration: underline;
}

/*END blog*/

/*article*/
.article-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
}

.sticky-container{
    position: sticky;
    top: 32px;
}

.article-consultation-content{
    gap: 2px;
}

.article-consultant-image{
    height: 64px;
    width: 64px;
    min-width: 64px;
}

.article-consultation-title{
    max-width: 120px;
}
.article-consultation-text{
    max-width: 220px;
}

.article-consultation-button{
    margin-top: 20px;
}

.article-anchors{
    margin-top: 8px;
}

.article-anchors a{
    color: var(--color-concrete);
}
.article-anchors a.active{
    color: var(--color-night);
}
.article-anchors-container{
    padding: 20px;
}

.article-dynamic-content img{
    display: block;
    aspect-ratio: 1.77;
}

.article-dynamic-top-tag{
    border: 1px solid var(--color-night);
    top: 16px;
    left: 16px;
    z-index: 1;
}



.article-container h2:not(:first-child),
.article-dynamic-content img:not(:first-child){
    margin-top: 32px;
}

.article-dynamic-content .article-dynamic-top img{
    margin-top: 0;
}

.article-dynamic-content p{
    margin-top: 24px;
}

.article-dynamic-banner{
    margin-top: 12px;
    padding: 16px 24px;
    border-left: 1px solid var(--color-night);
}

.article-dynamic-content ul {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 19px;
}

.article-aside-consultation{
    padding: 16px;
    border: 1px solid var(--color-metallic);
}

.section-top{
    margin-bottom: 40px;
}

.slider-controls{
    margin-top: 44px;
}

.slider-container .swiper-slide{
    height: auto;
}
/*END article*/


/*Business*/
.promo__top{
    padding-top: 8px;
    padding-bottom: 80px;
}

.promo__container{
    display: grid;
    grid-template-columns: 444fr 400fr 524fr;
    gap: 16px;
}
.promo__header{
    padding-right: 44px;
}
.promo__title{
    max-width: fit-content;
}

.promo__description p:not(:first-child){
    margin-top: 12px;
}

.promo__description .promo-text__special{
    color: var(--color-concrete);
}

.promo__title{
    gap: 20px;
}

.promo__features{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.promo__feature-card{
    flex-direction: column;
    padding: 20px 32px;
    min-height: 242px;
    border-bottom: 1px solid var(--color-night);
}

.promo__feature-card:nth-child(-n+2){
    border-top: 1px solid var(--color-night);
}

.promo__feature-card:nth-child(odd){
    border-right: 1px solid var(--color-night);
}

.promo__feature-bottom{
    margin-top: auto;
}

.promo__button{
    border-bottom: 1px solid var(--color-white);
    max-width: fit-content;
    margin-top: auto;
}

.cases-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
}

.case-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.case__image{
    aspect-ratio: 1.5;
}

.case__tag{
    top: 0;
    left: 0;
    padding: 20px 32px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms, visibility 300ms;
}

.case__title{
    margin-top: auto;
}

.section-bottom{
    margin-top: 44px;
}

.goTo-btn{
    max-width: 458px;
}


.work-stages__container{
    margin-top: 48px;
}

.work-stage {
    display: grid;
    grid-template-columns: minmax(0, 810fr) minmax(0, 558fr);
    gap: 16px;
    border-top: 1px solid var(--color-coal);
    padding: 32px 12px;
}

.work-stage__l {
    display: grid;
    grid-template-columns: 480fr 290fr;
    gap: 16px;
}

.work-stage__r b{
   color: var(--color-night);
    font-weight: 400;
}

.work-stage__title{
    gap: 12px;
}

.service-card__content{
    padding-top: 16px;
}

.step-counter {
    counter-reset: step-counter 0;
}

.step-counter .step-number {
    counter-increment: step-counter;
}

.step-counter .step-number::before {
    content: counter(step-counter, decimal-leading-zero);
}

.work-stages__container .work-stage:nth-child(even){
    background-color: var(--color-purity);
}

.service-card__image{
    aspect-ratio: 0.76;
}

.service-card__title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.service-card__subtitle{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


.services-slider .swiper-wrapper{
    align-items: flex-start;
    padding-bottom: 40px;
}

.services-slider .swiper-slide {
    scale: 0.95;
    transition: transform 800ms, scale 800ms;
}

.services-slider .swiper-slide-next {
    transform: translateY(40px);
    scale: 1;
}

.services__slider-controls{
    margin-top: 24px;
}











/*END Business*/








.dynamic-content p{
    font-size: 16px;
    line-height: 120%;
    letter-spacing: normal;
}



.error-content{
    max-width: 680px;
    aspect-ratio: 2.12;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.error-content__inner{
    max-width: 460px;
    text-align: center;
}
.error-content__text{
    margin-top: 16px;
}
.error-content__btn{
    margin-top: 20px;
}







footer{
    padding-top: 3rem;
}

.footer-content{
    max-width: 1164px;
}
.footer-bottom{
    margin-top: 64px;
    padding: 24px 0;
    border-top: 1px solid var(--color-silver);
}
.footer-nav{
    gap: 80px;
}

.footer-nav__item{
    display: flex;
    padding: 8px 0;
}

.footer-nav__list a{
    color: var(--color-white);
}

.footer-address{
    max-width: 312px;
}




@media (hover: hover) {
    .header-menu-item:hover{
        color: var(--color-concrete);
    }

    .filter-btn:hover{
        background-color: var(--color-night);
        color: var(--color-white);
    }

    .control-btn.hover-effects:not(.btn-disabled):not([disabled]):hover{
        background-color: var(--color-coal);
        border-color: var(--color-concrete);
    }

    .pagination-btn.hover-effects:hover{
        border-color: var(--color-night);
    }

    .blog-card:hover .blog-card__content{
        background-color: var(--color-purity);
    }

    .btn-black.hover-effects:hover{
        color: var(--color-shine);
    }

    .case-card:hover .case__tag{
        opacity: 1;
        visibility: visible;
    }

}
















/*pop up*/
/*
body.popup-open {
    overflow: hidden;
    padding-right: 15px;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: red;
    display: none;
    z-index: 99;
}


.popup-overlay.active{
    display: flex;
}

.popup {
    position: fixed;
    width: 100%;
    max-width: 387px;
    max-height: 95vh;
    overflow-y: auto;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: none;
    padding: 0 10px;
}

.popup.active {
    display: block;
}

.popup__top {

}

.popup-content {

}

.popup-close {

}


.popup::-webkit-scrollbar {
    width: 4px;
}

.popup::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: red;
}

.popup::-webkit-scrollbar-track {
    background: red;
}

.popup::-webkit-scrollbar-button {
    display: none;
}
*/


/*END pop up*/



.mb-show {
    display: none;
}