@media (max-width: 1240px) {
    .header-menu-list,
    .header__contacts{
        gap: 16px;
    }
    .header-soc{
        padding: 0 16px;
    }

    .contact-form__section{
        padding: 32px 24px;
    }
    .promo__header{
        padding-right: 0;
    }
    .promo__feature-card{
        padding: 20px 8px 24px;
    }

}



@media (max-width: 992px) {
    .stop-scroll{
        overflow: hidden;
    }

    header{
        height: unset;
        flex-direction: column;
        max-height: 48px;
        overflow: hidden;
        background-color: var(--color-white);
        transition:transform 0.3s ease, background-color 0.4s ease, max-height 300ms;
    }

    header.open{
        max-height: 100%;
    }

    .header-inner{
        padding-top: 6px;
        flex-direction: column;
        height: unset;
    }

    .home-page .header-inner{
        background-color: transparent;
    }

    .mobile-menu-btn svg path {
        transition: opacity 300ms, transform 300ms;
        transform-origin: center;
        transform-box: fill-box;
    }

    header.open .mobile-menu-btn svg path:nth-child(2){
        opacity: 0;
    }
    header.open .mobile-menu-btn svg path:nth-child(1) {
        transform: translateY(7px) rotate(-45deg);
    }

    header.open .mobile-menu-btn svg path:nth-child(2) {
        opacity: 0;
    }

    header.open .mobile-menu-btn svg path:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
    }

    .mobile-menu-btn{
        height: 32px;
        width: 32px;
    }

    .mobile-menu-btn svg{
        display: block;
    }


    .mobile-header{
        order: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .header__contacts{
        display: contents;
    }

    .header__lang-nav{
        order: 1;
        margin-top: 20px;
    }

    .header-menu-nav{
        order: 2;
        display: flex;
    }

    .header-menu-list{
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .header-soc{
        order: 3;
        margin-top: 64px;
        margin-left: unset;
        padding: 0 0 32px 0;
    }

    .home-page header.toTop  a.header__lang-link{
        color: var(--color-metallic);
    }
    .home-page header.toTop a.header__lang-link.active{
        color: var(--color-night);
    }

    .home-page header.at-top .mobile-menu-btn svg path{
        stroke: var(--color-white);
    }

    .home-page header.at-top.open .mobile-menu-btn svg path{
        stroke: var(--color-night);
    }

    .home-page header.at-top.open{
        background-color: var(--color-white);
    }

    .home-page header.at-top.open a{
        color: var(--color-night);
    }
    .home-page header.at-top.open svg path {
        fill: var(--color-night);
    }

    .home-top{
        height: 640px;
        background-position: center;
        background-size: cover;
        padding-top: 121px;
        padding-bottom: 40px;
    }

    .home-top__btn{
        margin-top: 12px;
    }




    /*breadcrumbs*/
    .breadcrumbs{
        margin: 4px 0 24px;
    }
    .breadcrumbs a,
    .breadcrumbs span{
        white-space: nowrap;
    }

    /*END breadcrumbs*/







    .blogs-container{
        margin-top: 16px;
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;
    }

    .blog-card__content{
        padding: 12px 16px 16px;
        gap: 6px;
    }

    .blog-card__action{
        padding: 4px 0;
    }
    .pagination-btn,
    .control-btn{
        height: 40px;
        width: 40px;
        min-width: 40px;
    }

    .contact-form__top{
        flex-direction: column;
        gap: 12px;
    }

    .contact-form{
        grid-template-columns: minmax(0, 1fr);
        gap: 12px;
    }

    .contact-form__inputs{
        grid-template-columns: minmax(0, 1fr);
        gap: 8px;
    }
    .contact-form__button{
        max-width: 100%;
    }
    .contact-form__bottom{
        margin-top: 24px;
    }
    .contact-form__input{
        height: 40px;
        padding: 0 12px;
    }
    .pagination{
        margin-top: 24px;
    }

    .dynamic-content p{
        font-size: 14px;
    }

    .error-content__btn{
        max-width: 264px;
    }

    .article-container{
        grid-template-columns: minmax(0, 1fr);
        gap: 32px;
    }
    .article-anchors-container{
        padding: 16px;
    }
    .article-dynamic-banner{
        padding: 8px 16px;
    }
    .section-top{
        flex-direction: column;
        margin-bottom: 32px;
    }

    .slider-controls{
        margin-top: 24px;
    }

    .cases-container{
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;
    }
    .case-card{
        gap: 12px;
    }
    .section-bottom{
        margin-top: 24px;
    }

    .promo__container{
        padding-top: 24px;
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;

    }
    .promo__title-svg{
        height: 23px;
    }
    .promo__subtitle-svg{
        width: 75px;
    }
    .promo__title{
        gap: 12px;
        max-width: 100%;
    }
    .promo__description{
        margin-top: 32px;
    }
    .promo__features{
        grid-template-columns: minmax(0, 1fr);
    }
    .promo__feature-card{
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }
    .promo__feature-card.u-flex-col{
        flex-direction: column;
    }
    .promo__feature-card,
    .promo__feature-card:nth-child(-n+2),
    .promo__feature-card:nth-child(odd){
        border-top: none;
        border-right: none;
        min-height: unset;
    }
    .promo__feature-card:first-child{
        border-top: 1px solid var(--color-night);
    }
    .promo__feature-bottom{
        width: 100%;
        max-width: 80px;
        justify-content: start;
    }
    .promo__feature-card.bg__night{
        padding: 16px 20px;
        gap: 8px;
    }
    .promo__top{
        padding-top: 4px;
        padding-bottom: 56px;
    }
    .work-stage {
        grid-template-columns: minmax(0, 1fr) ;
        gap: 20px;
        padding: 32px 8px;
    }
    .work-stage__l{
        gap: 20px;
    }
    .work-stage__title{
        gap: 6px;
    }
    .services-slider .swiper-slide {
        scale: 1;
    }

    .services-slider .swiper-slide-next {
        transform: unset;
    }
    .services-slider .swiper-wrapper{
        padding-bottom: 0;
    }
    .service-card__content{
        padding-top: 12px;
    }

    .about-promo__container{
        margin-top: 32px;
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;
    }
    .about-promo__logo{
        height: 26px;
    }

    .about-promo__logo-description{
        height: 6px;
    }
    .about-promo__top{
        gap: 16px;
    }

    .img-banner{
        height: 400px;
    }
    .founder{
        flex-direction: column;
        gap: 20px;
    }
    .brand-philosophy{
        grid-template-columns: minmax(0, 1fr);
        padding: 0 32px;
    }
    .brand-description__item{
        gap:12px;
    }

    .img-banner{
        width: calc(100% + 24px);
        margin-left: -12px;
    }
    .reviews-card{
        grid-template-columns: minmax(0, 1fr);
        gap: 8px;
    }
    .reviews-img{
        order: 1;
    }
    .reviews-content{
        order: 0;
        aspect-ratio: unset;
        padding: 24px 16px 32px 12px;
    }
    .reviews-text{
        margin-top: 12px;
        padding: 24px 0 0 24px;
        background-size: 24px 24px;
        height: 260px;
        flex: unset;
    }

    .reviews-top{
        padding: 0 32px;
        gap: 32px;
    }

    .intro__image-right{
        display: none;
    }
    .intro__image-l {
        grid-area: imageL;
        aspect-ratio: 148/242;
    }
    .intro__image-s {
        grid-area: imageS;
        aspect-ratio: 204/268;
    }
    .intro__description{
        grid-area:introDescription;
        padding: 0 28px;
    }
    .intro__container{
        grid-template-columns: 148fr 204fr;
        gap: 32px 8px;
        grid-template-areas:
        'imageL imageS'
        'introDescription introDescription';
    }

    .intro-description__inner{
        max-width: 100%;
    }

    .section--bg{
        padding: 56px 0;
    }

    .intro__text{
        margin-top: 32px;
    }
    .intro__btn{
        margin-top: 16px;
      max-width: 100%;
    }

    .directions-section{
        background-image: none;
    }

    .directions-container{
        gap: 8px;
    }
    .direction-title{
        margin-top: 8px;
    }

    .application-banner{
        grid-template-columns: minmax(0, 1fr);
    }
    .application-banner__image-round{
        display: none;
    }

    .application-banner__actions{
        margin-top: 24px;
        flex-direction: column;
        gap: 8px;
    }

    .application-banner__content{
        padding: 32px 24px;
        max-width: 100%;
    }

    .application-banner__image{
        height: 252px;
        clip-path: ellipse(80% 70% at 50% 70%);
        background-size: cover;
        background-position: center;
    }


    .application-banner__subtitle{
        margin-top: 12px;
    }













    footer{
        padding-top: 28px;
    }

    .footer-main,
    .footer-nav{
        flex-direction: column;
        align-items: center;
    }

    .footer-nav{
        gap: 8px;
    }

    .footer-nav__list{
        display: flex;
        gap: 24px;
    }

    .footer-nav__list:nth-child(1){
        gap: 40px;
    }

    .footer-soc,
    .footer-nav__item{
        text-align: center;
        justify-content: center;
    }


    .footer-bottom{
        margin-top: 32px;
        flex-direction: column;
        padding: 20px 0 16px;
    }


    .mb-show {
        display: flex;
    }

    .mb-hide {
        display: none;
    }
}
