@media (max-width: 1240px) {
    .header-menu-list,
    .header__contacts{
        gap: 16px;
    }
    .header-soc{
        padding: 0 16px;
    }

    .contact-form__section{
        padding: 32px 24px;
    }
    .promo__header{
        padding-right: 0;
    }
    .promo__feature-card{
        padding: 20px 8px 24px;
    }

}



@media (max-width: 992px) {
    .stop-scroll{
        overflow: hidden;
    }

    header{
        height: unset;
        flex-direction: column;
        max-height: 48px;
        overflow: hidden;
        transition: max-height 300ms;
    }
    header.open{
        max-height: 100%;
    }

    .header-inner{
        padding-top: 6px;
        flex-direction: column;
        height: unset;
    }

    .mobile-menu-btn svg path {
        transition: opacity 300ms, transform 300ms;
        transform-origin: center;
        transform-box: fill-box;
    }

    header.open .mobile-menu-btn svg path:nth-child(2){
        opacity: 0;
    }
    header.open .mobile-menu-btn svg path:nth-child(1) {
        transform: translateY(7px) rotate(-45deg);
    }

    header.open .mobile-menu-btn svg path:nth-child(2) {
        opacity: 0;
    }

    header.open .mobile-menu-btn svg path:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
    }

    .mobile-menu-btn{
        height: 32px;
        width: 32px;
    }

    .mobile-menu-btn svg{
        display: block;
    }


    .mobile-header{
        order: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .header__contacts{
        display: contents;
    }

    .header__lang-nav{
        order: 1;
        margin-top: 20px;
    }

    .header-menu-nav{
        order: 2;
        display: flex;
    }

    .header-menu-list{
        margin-top: 20px;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .header-soc{
        order: 3;
        margin-top: 64px;
        margin-left: unset;
        padding: 0 0 32px 0;
    }

    main{
        margin-top: 48px;
    }










    /*breadcrumbs*/
    .breadcrumbs{
        margin: 4px 0 24px;
    }
    .breadcrumbs a,
    .breadcrumbs span{
        white-space: nowrap;
    }

    /*END breadcrumbs*/






    .blogs-container{
        margin-top: 16px;
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;
    }

    .blog-card__content{
        padding: 12px 16px 16px;
        gap: 6px;
    }

    .blog-card__action{
        padding: 4px 0;
    }
    .pagination-btn,
    .control-btn{
        height: 40px;
        width: 40px;
        min-width: 40px;
    }

    .contact-form__top{
        flex-direction: column;
        gap: 12px;
    }

    .contact-form{
        grid-template-columns: minmax(0, 1fr);
        gap: 12px;
    }

    .contact-form__inputs{
        grid-template-columns: minmax(0, 1fr);
        gap: 8px;
    }
    .contact-form__button{
        max-width: 100%;
    }
    .contact-form__bottom{
        margin-top: 24px;
    }
    .contact-form__input{
        height: 40px;
        padding: 0 12px;
    }
    .pagination{
        margin-top: 24px;
    }

    .dynamic-content p{
        font-size: 14px;
    }

    .error-content__btn{
        max-width: 264px;
    }

    .article-container{
        grid-template-columns: minmax(0, 1fr);
        gap: 32px;
    }
    .article-anchors-container{
        padding: 16px;
    }
    .article-dynamic-banner{
        padding: 8px 16px;
    }
    .section-top{
        flex-direction: column;
        margin-bottom: 32px;
    }

    .slider-controls{
        margin-top: 24px;
    }

    .cases-container{
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;
    }
    .case-card{
        gap: 12px;
    }
    .section-bottom{
        margin-top: 24px;
    }

    .promo__container{
        padding-top: 24px;
        grid-template-columns: minmax(0, 1fr);
        gap: 24px;

    }
    .promo__title-svg{
        height: 23px;
    }
    .promo__subtitle-svg{
        width: 75px;
    }
    .promo__title{
        gap: 12px;
        max-width: 100%;
    }
    .promo__description{
        margin-top: 32px;
    }
    .promo__features{
        grid-template-columns: minmax(0, 1fr);
    }
    .promo__feature-card{
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }
    .promo__feature-card.u-flex-col{
        flex-direction: column;
    }
    .promo__feature-card,
    .promo__feature-card:nth-child(-n+2),
    .promo__feature-card:nth-child(odd){
        border-top: none;
        border-right: none;
        min-height: unset;
    }
    .promo__feature-card:first-child{
        border-top: 1px solid var(--color-night);
    }
    .promo__feature-bottom{
        width: 100%;
        max-width: 80px;
        justify-content: start;
    }
    .promo__feature-card.bg__night{
        padding: 16px 20px;
        gap: 8px;
    }
    .promo__top{
        padding-top: 4px;
        padding-bottom: 56px;
    }
    .work-stage {
        grid-template-columns: minmax(0, 1fr) ;
        gap: 20px;
        padding: 32px 8px;
    }
    .work-stage__l{
        gap: 20px;
    }
    .work-stage__title{
        gap: 6px;
    }
    .services-slider .swiper-slide {
        scale: 1;
    }

    .services-slider .swiper-slide-next {
        transform: unset;
    }
    .services-slider .swiper-wrapper{
        padding-bottom: 0;
    }
    .service-card__content{
        padding-top: 12px;
    }




















    footer{
        padding-top: 28px;
    }

    .footer-main,
    .footer-nav{
        flex-direction: column;
        align-items: center;
    }

    .footer-nav{
        gap: 8px;
    }

    .footer-nav__list{
        display: flex;
        gap: 24px;
    }

    .footer-nav__list:nth-child(1){
        gap: 40px;
    }

    .footer-soc,
    .footer-nav__item{
        text-align: center;
        justify-content: center;
    }


    .footer-bottom{
        margin-top: 32px;
        flex-direction: column;
        padding: 20px 0 16px;
    }


    .mb-show {
        display: flex;
    }

    .mb-hide {
        display: none;
    }
}
