<div class="about-promo__top u-flex u-flex-col u-align-center">
    <svg class="about-promo__logo" width="202" height="27" viewBox="0 0 202 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M51.4047 26.3223H47.1733C46.9982 25.4025 44.7304 17.3949 44.6843 17.2416C44.2971 15.8348 43.1632 14.6806 41.5315 14.5363C40.9599 14.4912 32.6354 14.5093 32.6354 14.5093V26.2862H28.8281V0H41.1996C42.9696 0 44.7119 0.180351 46.3436 0.892739C49.3028 2.19127 50.3538 4.03085 50.1971 7.56574C50.0311 11.2449 46.9429 12.4623 45.5047 12.7148C45.3849 12.7328 45.3665 12.9041 45.4863 12.9402C47.8832 13.6887 48.676 17.1514 49.2199 19C50.1878 22.3095 51.4231 26.3223 51.4231 26.3223H51.4047ZM32.6262 11.2088C32.6262 11.2088 39.402 11.299 41.0982 11.1728C44.2787 10.9654 45.9288 9.96441 45.7444 6.97959C45.6338 5.19412 44.8594 3.21025 40.4621 3.21025C37.9731 3.16516 32.6354 3.21025 32.6354 3.21025V11.1998L32.6262 11.2088Z" fill="#0A0A0A"/>
        <path d="M202 26.3403H197.768C197.593 25.4205 195.326 17.4129 195.279 17.2596C194.892 15.8529 193.749 14.6716 192.117 14.5363C191.546 14.4912 183.221 14.5093 183.221 14.5093V26.3133H179.414V0.0090332H191.786C193.556 0.0090332 195.289 0.198402 196.93 0.901772C199.806 2.1462 200.94 4.03988 200.783 7.57477C200.617 11.2539 197.529 12.4713 196.091 12.7238C195.971 12.7418 195.952 12.9132 196.072 12.9492C198.469 13.6977 199.188 17.1244 199.732 18.982C200.7 22.2914 202.009 26.3313 202.009 26.3313L202 26.3403ZM183.221 11.2359C183.221 11.2359 190.412 11.272 191.73 11.1908C194.911 10.9834 196.524 9.98246 196.34 7.00666C196.229 5.22118 195.455 3.23732 191.057 3.23732C188.568 3.19223 183.231 3.23732 183.231 3.23732V11.2269L183.221 11.2359Z" fill="#0A0A0A"/>
        <path d="M11.9382 0.0180664C16.944 0.0180664 20.318 2.72334 20.2627 6.8624C20.2166 10.4153 17.3772 12.1016 16.1972 12.4623C16.0866 12.4984 16.1143 12.6517 16.2249 12.6787C19.6727 13.319 21.6271 15.6094 21.6271 18.8828C21.6271 23.9597 18.2622 26.3223 10.8504 26.3223H0V0.0180664H11.9382ZM3.80732 3.21028V11.2269H12.058C13.8926 11.2269 16.4646 9.5857 16.4646 7.04275C16.4646 4.94166 14.501 3.21028 12.058 3.21028H3.80732ZM3.80732 14.5363V23.0399H9.41228C15.3491 23.2383 17.6261 21.5881 17.6261 18.6123C17.6261 15.9341 15.303 14.338 8.61948 14.5273H3.81654L3.80732 14.5363Z" fill="#0A0A0A"/>
        <path d="M59.0273 0.0180664H62.8347V26.3223H59.0273V0.0180664Z" fill="#0A0A0A"/>
        <path d="M71.6387 26.3223V0.0180664H77.3082C77.9904 0.0180664 78.608 0.423857 78.8477 1.02803L87.67 23.1301L96.4831 1.02803C96.7227 0.423857 97.3312 0.0180664 98.0226 0.0180664H103.683V26.3223H99.8755V3.10207L90.2512 26.3223H84.8306L75.446 3.10207V26.3223H71.6387Z" fill="#0A0A0A"/>
        <path d="M111.693 26.3223V0.0180664H117.363C118.045 0.0180664 118.663 0.423857 118.902 1.02803L127.725 23.1301L136.547 1.02803C136.787 0.423857 137.395 0.0180664 138.086 0.0180664H143.747V26.3223H139.939V3.10207L130.315 26.3223H124.895L115.51 3.10207V26.3223H111.703H111.693Z" fill="#0A0A0A"/>
        <path d="M151.747 26.3223V0.0180664H171.374V3.2193H155.555V11.2269H170.609L170.581 14.4913H155.527L155.546 23.1301H171.365V26.3223H151.738H151.747Z" fill="#0A0A0A"/>
    </svg>
    <svg class="about-promo__logo-description" xmlns="http://www.w3.org/2000/svg" width="225" height="11" viewBox="0 0 225 11" fill="none">
        <path d="M0 10.4107H2.04869V6.09577H7.89001V4.24416H2.04869V2.14457H10.4466V0.292969H0V10.4107Z" fill="#0A0A0A"/>
        <path d="M19.8268 0.292969H17.5072L12.0215 10.4107H14.2734L15.4247 8.22842H21.8925L23.0438 10.4107H25.2957L19.8776 0.392164L19.8268 0.292969ZM20.8766 6.37682H16.4575L18.6755 2.27683L20.8766 6.37682Z" fill="#0A0A0A"/>
        <path d="M36.8931 6.06271L32.1861 0.292969H29.8496V10.4107H31.8983V2.7728L36.7237 8.72439L36.8761 8.92278L41.8878 2.7728V10.4107H43.9365V0.292969H41.6L36.8931 6.06271Z" fill="#0A0A0A"/>
        <path d="M52.2167 0.292969H50.168V10.4107H52.2167V0.292969Z" fill="#0A0A0A"/>
        <path d="M60.3944 0.292969H58.3457V10.4107H68.0812V8.55907H60.3944V0.292969Z" fill="#0A0A0A"/>
        <path d="M74.9379 4.74013L70.8574 0.359099L70.7897 0.292969H68.1992L73.9051 6.45948V10.4107H75.9538V6.45948L81.6596 0.292969H79.0692L74.9379 4.74013Z" fill="#0A0A0A"/>
        <path d="M98.5565 0.292969H96.5078V10.4107H98.5565V0.292969Z" fill="#0A0A0A"/>
        <path d="M114.338 7.98044L107.057 0.359099L107.006 0.292969H104.67V10.4107H106.719V2.7232L113.999 10.3445L114.05 10.4107H116.386V0.292969H114.338V7.98044Z" fill="#0A0A0A"/>
        <path d="M121.025 2.14457H125.783V10.4107H127.832V2.14457H132.59V0.292969H121.025V2.14457Z" fill="#0A0A0A"/>
        <path d="M139.277 6.09577H145.119V4.24416H139.277V2.14457H147.675V0.292969H137.229V10.4107H148.065V8.55907H139.277V6.09577Z" fill="#0A0A0A"/>
        <path d="M163.405 6.29416C163.743 6.14537 164.048 5.93045 164.285 5.68247C164.539 5.43449 164.726 5.12037 164.861 4.75666C164.996 4.40949 165.064 3.99618 165.064 3.54981C165.064 2.54135 164.742 1.7478 164.116 1.16917C163.49 0.590546 162.609 0.292969 161.509 0.292969H153.449V10.4107H155.498V6.70746H160.239L162.931 10.4107H165.318L162.609 6.55867C162.88 6.49254 163.134 6.40988 163.388 6.29416H163.405ZM155.515 2.14457H161.119C162.795 2.14457 162.982 2.93812 162.982 3.54981C162.982 3.97965 162.846 4.29376 162.575 4.50868C162.287 4.74013 161.847 4.85586 161.272 4.85586H155.515V2.16111V2.14457Z" fill="#0A0A0A"/>
        <path d="M172.683 0.292969H170.635V10.4107H172.683V0.292969Z" fill="#0A0A0A"/>
        <path d="M189.293 1.3515C188.718 0.921668 188.04 0.591026 187.278 0.359575C185.738 -0.119858 183.858 -0.119858 182.334 0.359575C181.572 0.591026 180.895 0.9382 180.32 1.3515C178.914 2.39303 178.203 3.73214 178.203 5.3523C178.203 6.97246 178.914 8.34463 180.286 9.36963C180.844 9.78293 181.539 10.1136 182.301 10.3616C183.079 10.593 183.926 10.7253 184.806 10.7253C185.687 10.7253 186.533 10.6095 187.295 10.3781C188.057 10.1466 188.734 9.816 189.31 9.40269C190.698 8.37769 191.393 7.02205 191.393 5.38537C191.393 3.74868 190.682 2.4261 189.293 1.38457V1.3515ZM184.806 1.84747C185.416 1.84747 185.992 1.93014 186.516 2.07893C187.041 2.22772 187.482 2.44263 187.871 2.72368C188.819 3.41803 189.276 4.27771 189.276 5.3523C189.276 5.8648 189.175 6.34423 188.971 6.77407C188.768 7.20391 188.464 7.56762 188.091 7.8652C187.702 8.17931 187.244 8.41076 186.686 8.59261C186.127 8.75793 185.501 8.85712 184.806 8.85712C184.112 8.85712 183.486 8.77446 182.927 8.59261C182.385 8.42729 181.894 8.17931 181.522 7.8652C181.132 7.56762 180.844 7.18738 180.624 6.77407C180.421 6.34423 180.32 5.8648 180.32 5.3523C180.32 4.8398 180.421 4.39343 180.641 3.96359C180.861 3.53376 181.166 3.17005 181.556 2.85593C181.945 2.54182 182.419 2.29384 182.978 2.12852C183.537 1.94667 184.146 1.86401 184.823 1.86401L184.806 1.84747Z" fill="#0A0A0A"/>
        <path d="M207.038 6.29416C207.376 6.14537 207.681 5.93045 207.918 5.68247C208.172 5.43449 208.358 5.12037 208.494 4.75666C208.629 4.40949 208.697 3.99618 208.697 3.54981C208.697 2.54135 208.375 1.7478 207.749 1.16917C207.122 0.590546 206.242 0.292969 205.141 0.292969H197.082V10.4107H199.131V6.70746H203.871L206.564 10.4107H208.951L206.242 6.55867C206.513 6.49254 206.767 6.40988 207.021 6.29416H207.038ZM199.148 2.14457H204.752C206.428 2.14457 206.614 2.93812 206.614 3.54981C206.614 3.97965 206.479 4.29376 206.208 4.50868C205.92 4.74013 205.48 4.85586 204.904 4.85586H199.148V2.16111V2.14457Z" fill="#0A0A0A"/>
        <path d="M223.901 5.17088C223.274 4.70798 222.309 4.41039 221.039 4.24507C220.548 4.17894 220.057 4.12935 219.583 4.11282L218.296 4.04669C217.907 4.03016 217.534 3.99709 217.213 3.94749C216.891 3.91443 216.603 3.8483 216.332 3.74911C215.841 3.58379 215.604 3.3358 215.604 2.98863C215.604 2.64145 215.824 2.41 216.281 2.21161C216.789 1.98016 217.551 1.88097 218.55 1.88097C219.312 1.88097 220.074 1.96363 220.785 2.14548C221.513 2.32734 222.241 2.59185 222.969 2.95556L223.105 3.02169L224.358 1.64952L224.171 1.51726C222.698 0.541863 220.836 0.0458984 218.669 0.0458984C217.009 0.0458984 215.723 0.326946 214.825 0.872508C213.911 1.4346 213.437 2.22815 213.437 3.20355C213.437 3.69951 213.539 4.12935 213.759 4.45999C213.962 4.79064 214.284 5.07169 214.707 5.27007C215.113 5.46846 215.621 5.61724 216.197 5.71644C216.772 5.81563 217.467 5.88176 218.229 5.94789C218.957 5.99749 219.617 6.03055 220.193 6.08015C220.751 6.11321 221.225 6.17934 221.615 6.27853C221.97 6.36119 222.258 6.49346 222.428 6.65878C222.597 6.80757 222.681 7.02248 222.681 7.32006C222.681 7.76643 222.411 8.13014 221.869 8.41119C221.276 8.70877 220.396 8.85756 219.244 8.85756C218.347 8.85756 217.5 8.74183 216.688 8.52691C215.892 8.31199 215.096 7.96482 214.3 7.48539L214.148 7.38619L213.014 8.84103L213.166 8.95675C213.911 9.53538 214.791 9.96522 215.79 10.2297C216.789 10.4942 217.941 10.6265 219.227 10.6265C221.039 10.6265 222.444 10.3289 223.393 9.7503C224.375 9.15514 224.866 8.29547 224.866 7.18781C224.866 6.3116 224.544 5.63378 223.884 5.15434L223.901 5.17088Z" fill="#0A0A0A"/>
    </svg>
</div>

<div class="about-promo__container">
    <div class="u-flex u-flex-col u-justify-between u-gap-24">
        <div class="h4 color__coal">
            <p>
                В Brimmer каждый проект — это диалог,
                искренний и внимательный, где ваши мечты становятся
                отправной точкой, а результат — пространство, которое
                действительно работает для вас.
            </p>
        </div>

        <div class="about-promo-image imgWrapper">
            <img src="/assets/images/banners/about-promo-image.webp" alt="about">
        </div>
    </div>

    <div class="promo__features">
        <div class="promo__feature-card u-flex">
            <span class="text-l color__coal">Каждый шаг связан в одну гармоничную траекторию</span>

            <div class="promo__feature-bottom u-flex u-justify-center">
                <div class="u-flex u-flex-col u-gap-6">
                    <span class="textAccent">360°</span>
                    <span class="text_S color__coal">Комплексный подход</span>
                </div>
            </div>
        </div>

        <div class="promo__feature-card u-flex">
            <span class="text-l color__coal">Мы&nbsp;про&nbsp;долговечность, продуманность и&nbsp;качество</span>

            <div class="promo__feature-bottom u-flex u-justify-end">
                <div class="u-flex u-flex-col u-gap-6">
                    <span class="textAccent">12+</span>
                    <span class="text_S color__coal">Лет&nbsp;опыта</span>
                </div>
            </div>
        </div>

        <div class="promo__feature-card u-flex">
            <span class="text-l color__coal">Внимательно слушаем и&nbsp;делаем то, что&nbsp;действительно важно именно&nbsp;вам.</span>

            <div class="promo__feature-bottom u-flex u-align-center u-justify-center">
                <div class="u-flex u-flex-col u-gap-6">
                    <span class="textAccent">98%</span>
                    <span class="text_S color__coal">Клиентов рекомендуют</span>
                </div>
            </div>
        </div>

        <div class="promo__feature-card bg__night color__white u-flex u-flex-col">
            <p class="text-l">
                В нашем портфолио более 150 успешных проектов. Создаём пространства,
                которые работают, вдохновляют и становятся домом.
            </p>
            <button class="promo__button color__white u-flex u-align-center u-gap-4 text-b-M"
                    data-open-popup="request-popup"
                    data-popup-set-title = 'НУЖНА ПРОФЕССИОНАЛЬНАЯ КОНСУЛЬТАЦИЯ ПО ПРОЕКТУ?'
                    data-popup-set-subtitle = 'Проведём консультацию, разберём задачи и ограничения, предложим оптимальные решения и следующий шаг к реализации.'
                    data-popup-set-button-text = 'Получить консультацию'
            >
                Начать изменения
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16 8L20 12L16 16" stroke="white" stroke-width="1.5"/>
                    <path d="M4 12L20 12" stroke="white" stroke-width="1.5"/>
                </svg>
            </button>
        </div>
    </div>
</div>