<section class="width-container page-section">
    <div class="brand-philosophy">
        <div class="founder u-flex">
            <div class="founder-image">
                <img src="/assets/images/staff/manager-image-l.webp" alt="manager">
            </div>


            <div class="brand-philosophy__title h2">ФИЛОСОФИЯ БРЕНДА</div>
        </div>

        <div class="brand-description u-flex u-flex-col u-justify-between u-gap-20">
            <div class="brand-description__item u-flex u-flex-col text-l">
                <p>Мы верим, что место, в котором вы находитесь, — это не
                    просто декорации, а сцена для ваших эмоций, воспоминаний
                    и новых историй. Будь то дом, офис или любое другое окружение,
                    важно не только то, как оно выглядит, но и как оно помогает
                    раскрыться, вдохновляет на новые идеи и поддерживает ваш
                    стиль жизни.
                </p>
                <p>
                    Наш подход сочетает эстетику с глубоким пониманием
                    того, как вы живёте, работаете, отдыхаете. Мы создаём
                    объекты, которые не просто радуют глаз, но и наполняют
                    жизнь смыслом. Каждая деталь — от света до текстур — продумана
                    так, чтобы приносить комфорт и вдохновение, гармонично вписываясь
                    в ваш ритм жизни.
                </p>
            </div>

            <div class="brand-description__item u-flex u-flex-col">
                <p class="text-l-italic color__coal">
                    «Моя любовь к дизайну началась с простых вещей,
                    с создания атмосферы в самых близких мне местах.
                    Сегодня я переношу эту интуицию в работу, создавая
                    пространства, которые не просто удовлетворяют,
                    но и раскрывают потенциал людей, для которых
                    они предназначены».
                </p>

                <div class="u-flex u-flex-col u-gap-4 text-l">
                    <span>Татьяна Бриммер</span>
                    <span class="color__coal">Основательница Brimmer</span>
                </div>
            </div>
        </div>
    </div>
</section>