<section class="width-container page-section">
    <div class="section-top u-flex u-justify-between u-gap-8">
        <h2>ПОРТФОЛИО</h2>
        <p class="text-m color__concrete">Создаём с душой</p>
    </div>

    <div class="cases-container">
        <a href="" class="case-card">
            <div class="case__image imgWrapper u-relative">
                <div class="case__tag u-absolute w-100 bg__night color__white">Вдохновиться</div>
                <img src="/assets/images/card-images/image-1.webp" alt="case image">
            </div>
            <div class="case__title h4">ЖК Достижение</div>
        </a>
        <a href="" class="case-card">
            <div class="case__image imgWrapper u-relative">
                <div class="case__tag u-absolute w-100 bg__night color__white">Вдохновиться</div>
                <img src="/assets/images/card-images/image-2.webp" alt="case image">
            </div>
            <div class="case__title h4">Комплекс «Новая Эра»</div>
        </a>
        <a href="" class="case-card">
            <div class="case__image imgWrapper u-relative">
                <div class="case__tag u-absolute w-100 bg__night color__white">Вдохновиться</div>
                <img src="/assets/images/card-images/image-3.webp" alt="case image">
            </div>
            <div class="case__title h4">Жилой проект «Гармония»</div>
        </a>

        <a href="" class="case-card">
            <div class="case__image imgWrapper u-relative">
                <div class="case__tag u-absolute w-100 bg__night color__white">Вдохновиться</div>
                <img src="/assets/images/card-images/image-4.webp" alt="case image">
            </div>
            <div class="case__title h4">ЖК Достижение</div>
        </a>
        <a href="" class="case-card">
            <div class="case__image imgWrapper u-relative">
                <div class="case__tag u-absolute w-100 bg__night color__white">Вдохновиться</div>
                <img src="/assets/images/card-images/image-5.webp" alt="case image">
            </div>
            <div class="case__title h4">Комплекс «Новая Эра»</div>
        </a>
        <a href="" class="case-card">
            <div class="case__image imgWrapper u-relative">
                <div class="case__tag u-absolute w-100 bg__night color__white">Вдохновиться</div>
                <img src="/assets/images/card-images/image-1.webp" alt="case image">
            </div>
            <div class="case__title h4">Жилой проект «Гармония»</div>
        </a>
    </div>

    <div class="section-bottom  u-flex u-justify-center">
        <a href="" class="goTo-btn btn-custom btn-black btn-xl w-100 hover-effects">Смотреть все</a>
    </div>
</section>