<section class="width-container page-section">
    <div class="faq-section">
        <div class="section-top u-flex u-flex-col u-align-center u-gap-12">
            <p class="text-m color__concrete">НАМ ДОВЕРЯЮТ</p>
            <h2>ВОПРОС-ОТВЕТ</h2>
        </div>

        <div class="faq-container u-flex u-flex-col">
            <div class="faq-item bg__white borderRadius-24-16 overflowHidden" data-open-block-wrapper>
                <button class="faq-question u-flex u-align-center u-justify-between w-100" data-open-block-btn>
                    Сколько времени занимает разработка дизайн-проекта?

                    <svg class="faq-question__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                        <path d="M5 12H19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content text-l color__coal">
                        <p>
                            Недавно я воспользовалась услугами дизайнера интерьера и осталась в полном восторге!
                            Процесс работы был очень увлекательным: дизайнер внимательно выслушал все мои
                            пожелания и предложил множество креативных идей.
                            <br>
                            Результат превзошёл все ожидания — пространство стало не только стильным,
                            но и функциональным. Я с удовольствием рекомендую эту компанию всем,
                            кто хочет преобразить свой дом!
                        </p>
                    </div>

                </div>
            </div>
            <div class="faq-item bg__white borderRadius-24-16 overflowHidden" data-open-block-wrapper>
                <button class="faq-question u-flex u-align-center u-justify-between w-100" data-open-block-btn>
                    Выезжаете ли вы на замеры?

                    <svg class="faq-question__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                        <path d="M5 12H19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content text-l color__coal">
                        <ul>
                            <li>Недавно я воспользовалась услугами дизайнера интерьера и осталась в полном восторге!</li>
                            <li>Процесс работы был очень увлекательным: дизайнер внимательно выслушал все мои</li>
                            <li>пожелания и предложил множество креативных идей.</li>
                            <li>Результат превзошёл все ожидания — пространство стало не только стильным,</li>
                            <li>        но и функциональным. Я с удовольствием рекомендую эту компанию всем,
                                кто хочет преобразить свой дом!</li>
                        </ul>

                        <br>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Autem ducimus enim eum exercitationem expedita explicabo
                            facilis fuga impedit modi molestias mollitia nihil praesentium,
                            quam quas quasi ratione recusandae reiciendis rerum.
                        </p>

                    </div>

                </div>
            </div>
            <div class="faq-item bg__white borderRadius-24-16 overflowHidden" data-open-block-wrapper>
                <button class="faq-question u-flex u-align-center u-justify-between w-100" data-open-block-btn>
                    Выезжаете ли вы на замеры?

                    <svg class="faq-question__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                        <path d="M5 12H19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content text-l color__coal">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Autem ducimus enim eum exercitationem expedita explicabo
                            facilis fuga impedit modi molestias mollitia nihil praesentium,
                            quam quas quasi ratione recusandae reiciendis rerum.
                        </p>
                        <br>
                        <ol>
                            <li>Недавно я воспользовалась услугами дизайнера интерьера и осталась в полном восторге!</li>
                            <li>Процесс работы был очень увлекательным: дизайнер внимательно выслушал все мои</li>
                            <li>пожелания и предложил множество креативных идей.</li>
                            <li>Результат превзошёл все ожидания — пространство стало не только стильным,</li>
                            <li>        но и функциональным. Я с удовольствием рекомендую эту компанию всем,
                                кто хочет преобразить свой дом!</li>
                        </ol>
                    </div>

                </div>
            </div>
            <div class="faq-item bg__white borderRadius-24-16 overflowHidden" data-open-block-wrapper>
                <button class="faq-question u-flex u-align-center u-justify-between w-100" data-open-block-btn>
                    Как формируется стоимость дизайн-проекта?

                    <svg class="faq-question__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                        <path d="M5 12H19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content text-l color__coal">
                        <p>
                            Сколько времени занимает разработка дизайн-проекта?
                            Недавно я воспользовалась услугами дизайнера интерьера и осталась
                            в полном восторге! Процесс работы был очень увлекательным: дизайнер
                            внимательно выслушал все мои пожелания и предложил множество креативных идей.
                            <br>
                            Результат превзошёл все ожидания — пространство стало не только стильным,
                            но и функциональным. Я с удовольствием рекомендую эту компанию всем,
                            кто хочет преобразить свой дом!
                        </p>
                    </div>

                </div>
            </div>
            <div class="faq-item bg__white borderRadius-24-16 overflowHidden" data-open-block-wrapper>
                <button class="faq-question u-flex u-align-center u-justify-between w-100" data-open-block-btn>
                    Выезжаете ли вы на замеры?

                    <svg class="faq-question__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 5V19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                        <path d="M5 12H19" stroke="#0A0A0A" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="faq-answer" data-open-block>
                    <div class="faq-answer-content text-l color__coal">
                        <p>
                            Сколько времени занимает разработка дизайн-проекта?
                            Недавно я воспользовалась услугами дизайнера интерьера и осталась
                            в полном восторге! Процесс работы был очень увлекательным: дизайнер
                            внимательно выслушал все мои пожелания и предложил множество креативных идей.
                            <br>
                            Результат превзошёл все ожидания — пространство стало не только стильным,
                            но и функциональным. Я с удовольствием рекомендую эту компанию всем,
                            кто хочет преобразить свой дом!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>