<section class="page-section width-container ">
    <div class="contact-form__section bg__purity">
        <div class="contact-form__top u-flex u-gap-16">
            <h2>ГОТОВЫ НАЧАТЬ СВОЙ ПРОЕКТ ВМЕСТЕ С&nbsp;BRIMMER?</h2>
            <p class="contact-form__subtitle text-l color__coal">Давайте обсудим проект, уделяя внимание деталям и срокам. Мы расскажем о нашем подходе и рассчитаем индивидуальную стоимость проектирования и реализации.</p>
        </div>

        <div class="contact-form__bottom u-flex u-flex-col u-gap-12">
            <form class="contact-form">
                <div class="contact-form__inputs w-100">
                    <input class="contact-form__input w-100 text-b-M" type="text" placeholder="Ваше имя" required>

                    <input class="contact-form__input contact-form__input-phone  w-100 text-b-M" type="tel" id="phone"  required data-input-mask="phone">

                    <input class="contact-form__input w-100 text-b-M" type="email" placeholder="Email (необязательно)" required>
                </div>

                <button type="submit" class="contact-form__button btn-black btn-xl w-100 text-b-M hover-effects">Получить консультацию</button>
            </form>
            <p class="contact-form__agreement text-m color__concrete">
                Нажимая на кнопку, вы соглашаетесь на
                <a href="" class="col">обработку ваших персональных данных</a>
                и принимаете
                <a href="">условия политики конфиденциальности.</a>
                Ваши контактные данные не подлежат разглашению.</p>
        </div>
    </div>
</section>
