<section class="section--bg width-container page-section bg__purity">
    <div class="reviews-section__container w-100">
        <div class="section-top u-flex u-flex-col u-align-center u-gap-12">
            <p class="text-m color__concrete">НАС ВЫБИРАЮТ</p>
            <h2>ОТЗЫВЫ О BRIMMER</h2>
        </div>

        <div class="slider-container">

            <div class="reviews-slider w-100 u-overflowHidden u-relative"
                 id="reviews__slider"
                 data-slider-group-item="reviews__slider"

                 data-slides-view="1"
                 data-slides-view-tablet="1"
                 data-slides-view-mobile="1"

                 data-space-between="8"
                 data-space-between-tablet="8"
                 data-space-between-mobile="8"

                 data-pagination = 'false'
                 data-pagination-tablet = 'false'
                 data-pagination-mobile="false"
                 data-pagination-clickable="false"

                 data-grab-cursor='true'
                 data-slides-loop="false"
                 data-auto-play="false"
                 data-slides-speed="1000"

            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews-card">
                            <div class="reviews-img imgWrapper">
                                <img src="/assets/images/card-images/image-v-6.webp" alt="reviews img">
                            </div>
                            <div class="reviews-content bg__white u-flex u-flex-col">
                                <div class="reviews-top text_S u-flex ">
                                    <div class="reviews-top__item u-flex u-flex-col">
                                        <span>ЕЛЕНА</span>
                                        <span class="color__concrete">ЗАКАЗЧИК</span>
                                    </div>
                                    <div class="reviews-top__item u-flex u-flex-col">
                                        <span>ЕЛЕНА</span>
                                        <span class="color__concrete">ЗАКАЗЧИК</span>
                                    </div>
                                </div>
                                <div class="reviews-text text-l customScrollbar">
                                    <p>
                                        Недавно я воспользовалась услугами дизайнера
                                        интерьера и осталась в полном восторге!
                                        Процесс работы был очень увлекательным: дизайнер
                                        внимательно выслушал все мои пожелания и предложил
                                        множество креативных идей.
                                    </p>
                                    <br>
                                    <p>
                                        Результат превзошёл все ожидания — пространство
                                        стало не только стильным, но и функциональным.
                                        Я с удовольствием рекомендую эту компанию всем,
                                        кто хочет преобразить свой дом!
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews-card">
                            <div class="reviews-img imgWrapper">
                                <img src="/assets/images/card-images/image-v-5.webp" alt="reviews img">
                            </div>
                            <div class="reviews-content bg__white u-flex u-flex-col">
                                <div class="reviews-top text_S u-flex ">
                                    <div class="reviews-top__item u-flex u-flex-col">
                                        <span>ЕЛЕНА</span>
                                        <span class="color__concrete">ЗАКАЗЧИК</span>
                                    </div>
                                    <div class="reviews-top__item u-flex u-flex-col">
                                        <span>ЕЛЕНА</span>
                                        <span class="color__concrete">ЗАКАЗЧИК</span>
                                    </div>
                                </div>
                                <div class="reviews-text text-l customScrollbar">
                                    <p>
                                        Недавно я воспользовалась услугами дизайнера
                                        интерьера и осталась в полном восторге!
                                        Процесс работы был очень увлекательным: дизайнер
                                        внимательно выслушал все мои пожелания и предложил
                                        множество креативных идей.
                                    </p>
                                    <br>
                                    <p>
                                        Результат превзошёл все ожидания — пространство
                                        стало не только стильным, но и функциональным.
                                        Я с удовольствием рекомендую эту компанию всем,
                                        кто хочет преобразить свой дом!
                                    </p>
                                    <br>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Amet eligendi labore, laborum minus mollitia perspiciatis
                                        quaerat qui quod sunt. Aliquid doloremque eveniet fugiat
                                        hic iste numquam, odit omnis voluptate voluptatem!
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Amet eligendi labore, laborum minus mollitia perspiciatis
                                        quaerat qui quod sunt. Aliquid doloremque eveniet fugiat
                                        hic iste numquam, odit omnis voluptate voluptatem!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="slider-controls services__slider-controls u-flex u-gap-12 u-justify-center">
                <button id="toLeft_reviews__slider" class="slider-control-btn control-btn left hover-effects btn-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                        <path d="M9.27344 16.6365L1.27344 8.63647L9.27344 0.636475" stroke="white" stroke-width="1.8"/>
                    </svg>
                </button>
                <button id="toRight_reviews__slider" class="slider-control-btn control-btn right hover-effects btn-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                        <path d="M0.636719 16.6365L8.63672 8.63647L0.636719 0.636475" stroke="white" stroke-width="1.8"/>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>