<section class="width-container page-section">
    <div class="section-top u-flex u-flex-col u-align-center u-gap-12">
        <p class="text-m color__concrete">ПРИСТУПИМ?</p>
        <h2>НАШИ УСЛУГИ</h2>
    </div>
    <div class="slider-container">

        <div class="services-slider w-100 u-overflowHidden u-relative"
             id="services__slider"
             data-slider-group-item="services__slider"

             data-slides-view="3"
             data-slides-view-tablet="2"
             data-slides-view-mobile="1"

             data-space-between="2"
             data-space-between-tablet="2"
             data-space-between-mobile="8"

             data-pagination = 'false'
             data-pagination-tablet = 'false'
             data-pagination-mobile="false"
             data-pagination-clickable="false"

             data-slides-loop="false"
             data-auto-play="false"
             data-slides-speed="1000"

        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="service-card">
                        <div class="service-card__image imgWrapper">
                            <img src="/assets/images/card-images/image-v-2.webp" alt="blog image">
                        </div>
                        <a href="" class="service-card__content u-flex u-gap-12">
                            <div class="u-flex u-flex-col u-gap-6 w-100">
                                <span class="service-card__title h4">Дизайн-проект «Под ключ»</span>
                                <span class="service-card__subtitle text-m color__coal">Получить дизайн-план</span>
                            </div>

                            <span class="u-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                      <path d="M9.33203 9.33325H22.6654V22.6666" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                      <path d="M9.33203 22.6666L22.6654 9.33325" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <div class="service-card__image imgWrapper">
                            <img src="/assets/images/card-images/image-v-1.webp" alt="blog image">
                        </div>
                        <a href="" class="service-card__content u-flex u-gap-12">
                            <div class="u-flex u-flex-col u-gap-6 w-100">
                                <span class="service-card__title h4">Авторское сопровождение</span>
                                <span class="service-card__subtitle text-m color__coal">Получить качество</span>
                            </div>

                            <span class="u-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                      <path d="M9.33203 9.33325H22.6654V22.6666" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                      <path d="M9.33203 22.6666L22.6654 9.33325" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <div class="service-card__image imgWrapper">
                            <img src="/assets/images/card-images/image-v-3.webp" alt="blog image">
                        </div>
                        <a href="" class="service-card__content u-flex u-gap-12">
                            <div class="u-flex u-flex-col u-gap-6 w-100">
                                    <span class="service-card__title h4">
                                        Декорирование и хоумстейджинг
                                        Декорирование и хоумстейджинг
                                        Декорирование и хоумстейджинг
                                    </span>
                                <span class="service-card__subtitle text-m color__coal">Вдохновиться стилем</span>
                            </div>

                            <span class="u-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                      <path d="M9.33203 9.33325H22.6654V22.6666" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                      <path d="M9.33203 22.6666L22.6654 9.33325" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="service-card">
                        <div class="service-card__image imgWrapper">
                            <img src="/assets/images/card-images/image-v-2.webp" alt="blog image">
                        </div>
                        <a href="" class="service-card__content u-flex u-gap-12">
                            <div class="u-flex u-flex-col u-gap-6 w-100">
                                <span class="service-card__title h4">Дизайн-проект «Под ключ»</span>
                                <span class="service-card__subtitle text-m color__coal">Получить дизайн-план</span>
                            </div>

                            <span class="u-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                      <path d="M9.33203 9.33325H22.6654V22.6666" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                      <path d="M9.33203 22.6666L22.6654 9.33325" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <div class="service-card__image imgWrapper">
                            <img src="/assets/images/card-images/image-v-1.webp" alt="blog image">
                        </div>
                        <a href="" class="service-card__content u-flex u-gap-12">
                            <div class="u-flex u-flex-col u-gap-6 w-100">
                                <span class="service-card__title h4">Авторское сопровождение</span>
                                <span class="service-card__subtitle text-m color__coal">Получить качество</span>
                            </div>

                            <span class="u-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                      <path d="M9.33203 9.33325H22.6654V22.6666" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                      <path d="M9.33203 22.6666L22.6654 9.33325" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="service-card">
                        <div class="service-card__image imgWrapper">
                            <img src="/assets/images/card-images/image-v-3.webp" alt="blog image">
                        </div>
                        <a href="" class="service-card__content u-flex u-gap-12">
                            <div class="u-flex u-flex-col u-gap-6 w-100">
                                    <span class="service-card__title h4">
                                        Декорирование и хоумстейджинг
                                        Декорирование и хоумстейджинг
                                        Декорирование и хоумстейджинг
                                    </span>
                                <span class="service-card__subtitle text-m color__coal">Вдохновиться стилем</span>
                            </div>

                            <span class="u-flex">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                      <path d="M9.33203 9.33325H22.6654V22.6666" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                      <path d="M9.33203 22.6666L22.6654 9.33325" stroke="#0A0A0A" stroke-width="2" stroke-linejoin="bevel"/>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="slider-controls services__slider-controls u-flex u-gap-12 u-justify-center">
            <button id="toLeft_services__slider" class="slider-control-btn control-btn left hover-effects btn-black">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                    <path d="M9.27344 16.6365L1.27344 8.63647L9.27344 0.636475" stroke="white" stroke-width="1.8"/>
                </svg>
            </button>
            <button id="toRight_services__slider" class="slider-control-btn control-btn right hover-effects btn-black">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                    <path d="M0.636719 16.6365L8.63672 8.63647L0.636719 0.636475" stroke="white" stroke-width="1.8"/>
                </svg>
            </button>
        </div>

    </div>
</section>