<section class="width-container page-section">
    <div class="stages-work__top u-flex u-flex-col u-align-center u-gap-12">
        <span class="h4 color__concrete">НАЧНЁМ?</span>
        <h2>ЭТАПЫ РАБОТ</h2>
    </div>

    <div class="work-stages__container step-counter">
        <div class="work-stage">
            <div class="work-stage__l u-flex">
                <div class="work-stage__title u-flex">
                    <span class="step-number text-m"></span>
                    <span class="text-l">ДЕЛАЕМ ЗАМЕРЫ</span>
                </div>

                <div class="text_S">ВСТРЕЧА-ЗНАКОМСТВО</div>
            </div>
            <div class="work-stage__r text-m color__concrete">
                <b>Мы рассказываем о нашем подходе.</b> Вы даете нам информацию:
                какие задачи необходимо реализовать в вашем пространстве.
            </div>
        </div>
        <div class="work-stage">
            <div class="work-stage__l u-flex">
                <div class="work-stage__title u-flex">
                    <span class="step-number text-m"></span>
                    <span class="text-l">СОЗДАЁМ НЕСКОЛЬКО ВАРИАНТОВ</span>
                </div>

                <div class="text_S">ПЛАНИРОВКА ПРОСТРАНСТВА</div>
            </div>
            <div class="work-stage__r text-m color__concrete">
                <b>Вместе с вами корректируем их, дополняем — выбираем один рабочий вариант,</b>
                исходя из ваших потребностей и эргономики.
            </div>
        </div>
        <div class="work-stage">
            <div class="work-stage__l u-flex">
                <div class="work-stage__title u-flex">
                    <span class="step-number text-m"></span>
                    <span class="text-l">РАЗРАБАТЫВАЕМ ЭСКИЗЫ</span>
                </div>

                <div class="text_S">КОНЦЕНТРАТ ИДЕИ</div>
            </div>
            <div class="work-stage__r text-m color__concrete">
                <b>На базе выбранного планировочного решения специалисты бюро создают стилистические коллажи,</b>
                формируют состав необходимых чертежей и спецификаций. В них уже видны: общая концепция, будущие цветовые решения, выбор мебели и материалов.
            </div>
        </div>
        <div class="work-stage">
            <div class="work-stage__l u-flex">
                <div class="work-stage__title u-flex">
                    <span class="step-number text-m"></span>
                    <span class="text-l">ВИЗУАЛИЗИРУЕМ ИДЕИ</span>
                </div>

                <div class="text_S">ДЕМОНСТРАЦИЯ ИНТЕРЬЕРА</div>
            </div>
            <div class="work-stage__r text-m color__concrete">
                <b>На основании утверждённых стилистических коллажей и технической документации мы создаём 3D вашего будущего интерьера.</b>
                Визуализация — очень полезный инструмент на этапе реализации.
            </div>
        </div>
        <div class="work-stage">
            <div class="work-stage__l u-flex">
                <div class="work-stage__title u-flex">
                    <span class="step-number text-m"></span>
                    <span class="text-l">ПРОЕКТИРУЕМ ВАШ ИНТЕРЬЕР</span>
                </div>

                <div class="text_S">ГОТОВЫЙ ПРОЕКТ</div>
            </div>
            <div class="work-stage__r text-m color__concrete">
                <b>Итог: вы получаете на руки комплект чертежей, по которым грамотные строители легко реализуют проект.</b>
                Он состоят из различных планов, развёрток стен, чертежей узлов сложных конструктивных решений, эскизов декоративно-архитектурных элементов и мебели, ведомостей отделочных материалов и предметов интерьера.
            </div>
        </div>
    </div>
</section>