<footer class="bg__night width-container u-flex u-justify-center">
    <div class="footer-content w-100">
        <div class="footer-main color__white u-flex u-justify-between u-gap-24 text-b-M">
            <div class="u-flex u-flex-col u-gap-32">
                <div class="u-flex u-flex-col u-gap-12 u-align-center">
                    <svg width="202" height="27" viewBox="0 0 202 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2256_282)">
                            <path d="M51.4027 26.3983H47.1714C46.9962 25.4815 44.7284 17.5003 44.6823 17.3475C44.2951 15.9453 43.1612 14.7949 41.5295 14.6511C40.958 14.6062 32.6335 14.6241 32.6335 14.6241V26.3623H28.8262V0.162598H41.1977C42.9676 0.162598 44.71 0.342356 46.3417 1.0524C49.3009 2.34666 50.3518 4.18019 50.1951 7.70345C50.0292 11.3705 46.9409 12.5839 45.5028 12.8355C45.3829 12.8535 45.3645 13.0243 45.4844 13.0602C47.8812 13.8062 48.674 17.2576 49.2179 19.1001C50.1859 22.3987 51.4212 26.3983 51.4212 26.3983H51.4027ZM32.6243 11.3346C32.6243 11.3346 39.4 11.4244 41.0963 11.2986C44.2767 11.0919 45.9268 10.0942 45.7425 7.11923C45.6318 5.33963 44.8575 3.36229 40.4602 3.36229C37.9711 3.31735 32.6335 3.36229 32.6335 3.36229V11.3256L32.6243 11.3346Z" fill="white"/>
                            <path d="M202 26.4163H197.768C197.593 25.4995 195.326 17.5183 195.279 17.3655C194.892 15.9634 193.749 14.786 192.117 14.6511C191.546 14.6062 183.221 14.6242 183.221 14.6242V26.3893H179.414V0.171631H191.786C193.556 0.171631 195.289 0.360377 196.93 1.06143C199.806 2.30176 200.94 4.18922 200.783 7.71248C200.617 11.3795 197.529 12.5929 196.091 12.8446C195.971 12.8625 195.952 13.0333 196.072 13.0693C198.469 13.8153 199.188 17.2307 199.732 19.0822C200.7 22.3807 202.009 26.4073 202.009 26.4073L202 26.4163ZM183.221 11.3616C183.221 11.3616 190.412 11.3975 191.73 11.3166C194.911 11.1099 196.524 10.1122 196.34 7.14624C196.229 5.36664 195.455 3.3893 191.057 3.3893C188.568 3.34436 183.231 3.3893 183.231 3.3893V11.3526L183.221 11.3616Z" fill="white"/>
                            <path d="M11.9382 0.180664C16.944 0.180664 20.318 2.87703 20.2627 7.00248C20.2166 10.5437 17.3772 12.2245 16.1972 12.584C16.0866 12.6199 16.1143 12.7727 16.2249 12.7997C19.6727 13.4378 21.6271 15.7207 21.6271 18.9834C21.6271 24.0435 18.2622 26.3984 10.8504 26.3984H0V0.180664H11.9382ZM3.80732 3.36238V11.3526H12.058C13.8926 11.3526 16.4646 9.71683 16.4646 7.18224C16.4646 5.08806 14.501 3.36238 12.058 3.36238H3.80732ZM3.80732 14.6512V23.1268H9.41228C15.3491 23.3245 17.6261 21.6797 17.6261 18.7137C17.6261 16.0443 15.303 14.4535 8.61948 14.6422H3.81654L3.80732 14.6512Z" fill="white"/>
                            <path d="M59.0273 0.180664H62.8347V26.3984H59.0273V0.180664Z" fill="white"/>
                            <path d="M71.6387 26.3984V0.180664H77.3082C77.9904 0.180664 78.608 0.58512 78.8477 1.18731L87.67 23.2167L96.483 1.18731C96.7227 0.58512 97.3312 0.180664 98.0226 0.180664H103.683V26.3984H99.8755V3.25453L90.2512 26.3984H84.8306L75.446 3.25453V26.3984H71.6387Z" fill="white"/>
                            <path d="M111.693 26.3984V0.180664H117.363C118.045 0.180664 118.663 0.58512 118.902 1.18731L127.725 23.2167L136.547 1.18731C136.787 0.58512 137.395 0.180664 138.086 0.180664H143.747V26.3984H139.939V3.25453L130.315 26.3984H124.895L115.51 3.25453V26.3984H111.703H111.693Z" fill="white"/>
                            <path d="M151.749 26.3984V0.180664H171.376V3.37137H155.557V11.3526H170.611L170.583 14.6062H155.529L155.548 23.2167H171.367V26.3984H151.74H151.749Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2256_282">
                                <rect width="202" height="26.5789" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="123" height="6" viewBox="0 0 123 6" fill="none">
                        <path d="M0 5.80937H1.11391V3.4016H4.28994V2.36839H1.11391V1.19679H5.68002V0.163574H0V5.80937Z" fill="white"/>
                        <path d="M10.781 0.163574H9.51981L6.53711 5.80937H7.76149L8.38749 4.59165H11.9041L12.5301 5.80937H13.7545L10.8086 0.218926L10.781 0.163574ZM11.3518 3.55843H8.94905L10.155 1.27059L11.3518 3.55843Z" fill="white"/>
                        <path d="M20.0601 3.38315L17.5009 0.163574H16.2305V5.80937H17.3444V1.54735L19.968 4.8684L20.0509 4.9791L22.7758 1.54735V5.80937H23.8898V0.163574H22.6193L20.0601 3.38315Z" fill="white"/>
                        <path d="M28.3913 0.163574H27.2773V5.80937H28.3913V0.163574Z" fill="white"/>
                        <path d="M32.8385 0.163574H31.7246V5.80937H37.018V4.77615H32.8385V0.163574Z" fill="white"/>
                        <path d="M40.746 2.64514L38.5274 0.200476L38.4905 0.163574H37.082L40.1844 3.60456V5.80937H41.2983V3.60456L44.4007 0.163574H42.9922L40.746 2.64514Z" fill="white"/>
                        <path d="M53.5866 0.163574H52.4727V5.80937H53.5866V0.163574Z" fill="white"/>
                        <path d="M62.1687 4.45327L58.2101 0.200476L58.1825 0.163574H56.9121V5.80937H58.026V1.51967L61.9845 5.77247L62.0122 5.80937H63.2826V0.163574H62.1687V4.45327Z" fill="white"/>
                        <path d="M65.8047 1.19679H68.3915V5.80937H69.5055V1.19679H72.0923V0.163574H65.8047V1.19679Z" fill="white"/>
                        <path d="M75.7272 3.4016H78.9032V2.36839H75.7272V1.19679H80.2933V0.163574H74.6133V5.80937H80.505V4.77615H75.7272V3.4016Z" fill="white"/>
                        <path d="M88.8466 3.51231C89.0308 3.42928 89.1965 3.30935 89.3253 3.17098C89.4634 3.0326 89.5647 2.85732 89.6384 2.65437C89.712 2.46064 89.7488 2.23001 89.7488 1.98093C89.7488 1.4182 89.5739 0.975387 89.2333 0.652506C88.8927 0.329626 88.414 0.163574 87.8156 0.163574H83.4336V5.80937H84.5475V3.74293H87.1251L88.5889 5.80937H89.8869L88.414 3.65991C88.5613 3.62301 88.6993 3.57688 88.8374 3.51231H88.8466ZM84.5567 1.19679H87.6039C88.5152 1.19679 88.6165 1.6396 88.6165 1.98093C88.6165 2.22078 88.5429 2.39606 88.3956 2.51599C88.2391 2.64514 87.9997 2.70972 87.6867 2.70972H84.5567V1.20602V1.19679Z" fill="white"/>
                        <path d="M93.8913 0.163574H92.7773V5.80937H93.8913V0.163574Z" fill="white"/>
                        <path d="M102.922 0.754155C102.609 0.514301 102.241 0.329799 101.827 0.200647C100.989 -0.0668823 99.9673 -0.0668823 99.1388 0.200647C98.7245 0.329799 98.3563 0.523526 98.0433 0.754155C97.2792 1.33534 96.8926 2.08258 96.8926 2.98664C96.8926 3.89071 97.2792 4.6564 98.0249 5.22836C98.3287 5.45898 98.7061 5.64349 99.1204 5.78186C99.5439 5.91102 100.004 5.98482 100.483 5.98482C100.962 5.98482 101.422 5.92024 101.836 5.79109C102.25 5.66194 102.619 5.47744 102.932 5.24681C103.687 4.67485 104.064 3.91838 104.064 3.00509C104.064 2.0918 103.677 1.35379 102.922 0.772605V0.754155ZM100.483 1.03091C100.814 1.03091 101.127 1.07704 101.413 1.16006C101.698 1.24309 101.937 1.36302 102.149 1.51984C102.665 1.9073 102.913 2.38701 102.913 2.98664C102.913 3.27262 102.858 3.54015 102.748 3.78001C102.637 4.01986 102.471 4.22281 102.269 4.38887C102.057 4.56415 101.809 4.6933 101.505 4.79477C101.201 4.88702 100.86 4.94237 100.483 4.94237C100.105 4.94237 99.7648 4.89625 99.461 4.79477C99.1664 4.70252 98.8995 4.56415 98.6969 4.38887C98.4852 4.22281 98.3287 4.01064 98.209 3.78001C98.0986 3.54015 98.0433 3.27262 98.0433 2.98664C98.0433 2.70066 98.0985 2.45158 98.2182 2.21173C98.3379 1.97188 98.5036 1.76892 98.7154 1.59364C98.9271 1.41837 99.1848 1.27999 99.4886 1.18774C99.7924 1.08626 100.124 1.04014 100.492 1.04014L100.483 1.03091Z" fill="white"/>
                        <path d="M112.571 3.51231C112.755 3.42928 112.921 3.30935 113.05 3.17098C113.188 3.0326 113.289 2.85732 113.363 2.65437C113.437 2.46064 113.473 2.23001 113.473 1.98093C113.473 1.4182 113.299 0.975387 112.958 0.652506C112.617 0.329626 112.139 0.163574 111.54 0.163574H107.158V5.80937H108.272V3.74293H110.85L112.313 5.80937H113.612L112.139 3.65991C112.286 3.62301 112.424 3.57688 112.562 3.51231H112.571ZM108.281 1.19679H111.328C112.24 1.19679 112.341 1.6396 112.341 1.98093C112.341 2.22078 112.267 2.39606 112.12 2.51599C111.964 2.64514 111.724 2.70972 111.411 2.70972H108.281V1.20602V1.19679Z" fill="white"/>
                        <path d="M121.74 2.88543C121.399 2.62713 120.874 2.46107 120.184 2.36882C119.917 2.33192 119.65 2.30425 119.392 2.29502L118.693 2.25812C118.481 2.24889 118.278 2.23044 118.103 2.20277C117.928 2.18432 117.772 2.14742 117.625 2.09207C117.358 1.99982 117.229 1.86144 117.229 1.66771C117.229 1.47398 117.348 1.34483 117.597 1.23413C117.873 1.10498 118.287 1.04962 118.831 1.04962C119.245 1.04962 119.659 1.09575 120.046 1.19723C120.442 1.2987 120.838 1.44631 121.233 1.64926L121.307 1.68616L121.988 0.920472L121.887 0.846673C121.086 0.302389 120.073 0.0256348 118.895 0.0256348C117.993 0.0256348 117.293 0.182462 116.805 0.486892C116.308 0.800548 116.05 1.24335 116.05 1.78764C116.05 2.06439 116.106 2.30425 116.225 2.48875C116.336 2.67325 116.511 2.83008 116.741 2.94078C116.962 3.05148 117.238 3.13451 117.551 3.18986C117.864 3.24521 118.241 3.28211 118.656 3.31901C119.052 3.34669 119.411 3.36514 119.724 3.39281C120.027 3.41126 120.285 3.44816 120.497 3.50351C120.69 3.54964 120.847 3.62344 120.939 3.7157C121.031 3.79872 121.077 3.91865 121.077 4.0847C121.077 4.33378 120.93 4.53673 120.635 4.69356C120.313 4.85961 119.834 4.94264 119.208 4.94264C118.72 4.94264 118.26 4.87806 117.818 4.75814C117.385 4.63821 116.953 4.44448 116.52 4.17695L116.437 4.1216L115.82 4.93342L115.903 4.99799C116.308 5.32087 116.787 5.56073 117.33 5.70833C117.873 5.85593 118.499 5.92973 119.199 5.92973C120.184 5.92973 120.948 5.76368 121.464 5.4408C121.997 5.10869 122.264 4.62899 122.264 4.0109C122.264 3.52197 122.09 3.14373 121.73 2.8762L121.74 2.88543Z" fill="white"/>
                    </svg>
                </div>

                <div class="footer-soc u-flex u-gap-20">
                    <a href="" class="u-flex u-align-center u-gap-8 color__white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM12.2422 2H3.75781C2.7875 2 2 2.7875 2 3.75781V12.2422C2 13.2125 2.7875 14 3.75781 14H12.2422C13.2125 14 14 13.2125 14 12.2422V3.75781C14 2.7875 13.2125 2 12.2422 2ZM8 11.1875C6.25627 11.1875 4.83594 9.76716 4.83594 8.02344C4.83594 6.27966 6.25627 4.85938 8 4.85938C9.74373 4.85938 11.1641 6.27966 11.1641 8.02344C11.1641 9.76716 9.74373 11.1875 8 11.1875ZM11.8672 4.85938C11.4805 4.85938 11.1641 4.54297 11.1641 4.15625C11.1641 3.76953 11.4805 3.45312 11.8672 3.45312C12.2539 3.45312 12.5703 3.76953 12.5703 4.15625C12.5703 4.54297 12.2539 4.85938 11.8672 4.85938ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625Z" fill="white"/>
                        </svg>
                        <span>INST*</span>
                    </a>
                    <a href="" class="u-flex u-align-center u-gap-8 color__white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1.30871 7.91601L4.52893 9.00967L12.1741 4.33578C12.2849 4.268 12.3985 4.41851 12.3029 4.50649L6.51492 9.83404L6.29968 12.8166C6.28329 13.0435 6.55661 13.1699 6.71881 13.0104L8.50092 11.258L11.7588 13.7242C12.1099 13.99 12.6184 13.8027 12.7131 13.3725L14.9816 3.07253C15.111 2.48495 14.5352 1.98913 13.9734 2.20431L1.29233 7.0602C0.894525 7.21255 0.90536 7.77905 1.30871 7.91601Z" fill="white"/>
                        </svg>
                        <span>TG</span>
                    </a>
                </div>
            </div>

            <nav class="footer-nav u-flex">
                <ul class="footer-nav__list resetListStyle">
                    <li>
                        <a href="" class="footer-nav__item">BRIMMER BUSINESS</a>
                    </li>
                    <li>
                        <a href="" class="footer-nav__item">BRIMMER FAMILY</a>
                    </li>
                </ul>
                <ul class="footer-nav__list resetListStyle">
                    <li>
                        <a href="" class="footer-nav__item">КОНТАКТЫ</a>
                    </li>
                    <li>
                        <a href="" class="footer-nav__item">О НАС</a>
                    </li>
                    <li>
                        <a href="" class="footer-nav__item ">БЛОГ</a>
                    </li>
                </ul>
            </nav>

            <address class="footer-address">
                <p class="footer-nav__item">
                    Г. МОСКВА, УЛ. ТВЕРСКАЯ, 15,
                    <br>
                    БЦ ГРАНД ПЛАЗА (М. ТВЕРСКАЯ)
                </p>

                <a href="tel:+79858802813" class="footer-nav__item color__white">+7 (985) 880 28 13</a>

                <a href="mailto:brimmer-family@email.ru" class="footer-nav__item color__white">brimmer-family@email.ru</a>

            </address>

        </div>
        <div class="footer-bottom color__concrete u-flex u-align-center u-justify-between u-gap-20 text-b-M">
            <span>© BRIMMER FAMILY INTERIORS, 2026</span>

            <a href="" class="color__concrete">Политика конфиденциальности</a>

            <span>ПРОДУКТЫ META* ЗАПРЕЩЕНЫ В РФ</span>

            <div class="u-flex u-flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="103" height="24" viewBox="0 0 103 24" fill="none">
                    <path d="M22.6054 3.21504V6.55346H26.4807V8.08559H22.6054V11.4448H20.9492V3.21504H22.6054ZM28.153 3.21504V4.89231C28.153 5.81159 27.3972 6.55346 26.4807 6.55346V3.21504H28.153ZM28.153 9.74674V11.4448H26.4807V8.08559C27.3972 8.08559 28.153 8.82747 28.153 9.74674Z" fill="#737373"/>
                    <path d="M35.443 4.74716H30.9406V9.98866H29.2844V4.74716C29.2844 3.90853 29.9597 3.21504 30.812 3.21504H33.9154C34.7676 3.21504 35.443 3.90853 35.443 4.74716ZM35.443 9.98866V4.74716H37.0992V9.98866C37.0992 10.8273 36.4995 11.4448 35.6634 11.4448H32.4213C31.5851 11.4448 30.9406 10.8273 30.9406 9.98866H35.443Z" fill="#737373"/>
                    <path d="M41.4158 3.21504H44.0368C44.8729 3.21504 45.5483 3.90853 45.5483 4.74716V11.4448H43.8921V4.74716H39.9042C39.9042 3.90853 40.5796 3.21504 41.4158 3.21504ZM39.9042 11.4448H38.2319V4.74716H39.9042V11.4448Z" fill="#737373"/>
                    <path d="M54.2989 1V1.68291C54.2989 2.65057 53.511 3.20982 52.5462 3.20982V1H54.2989ZM48.2717 3.20982H52.5462V4.80405H48.4297V9.98866H52.5462V4.80405H54.2989V9.98866C54.2989 10.8273 53.5829 11.4448 52.7467 11.4448H48.3824C47.4176 11.4448 46.677 10.795 46.677 9.82738V4.80405C46.677 3.91702 47.3873 3.20982 48.2717 3.20982Z" fill="#737373"/>
                    <path d="M57.1249 3.21504V4.73104H61.0002V3.21504H57.1249ZM55.4204 11.4448V6.39219C55.4204 5.47291 56.1762 4.73104 57.0928 4.73104V11.4448H55.4204Z" fill="#737373"/>
                    <path d="M61.828 3.21504H67.1665C68.0027 3.21504 68.6781 3.8924 68.6781 4.73104V9.98866H67.0218V8.11785H62.6642V9.98866H67.0218V11.4448H62.473C61.6208 11.4448 60.9919 10.8273 60.9919 9.98866V8.11785C60.9919 7.27921 61.6672 6.60185 62.5195 6.60185H67.0218V4.73104H61.828V3.21504Z" fill="#737373"/>
                    <path d="M76.8572 3.21504V4.73104H71.4543V6.60185H69.7981V4.73104C69.7981 3.8924 70.4735 3.21504 71.3096 3.21504H76.8572ZM71.4543 6.60185H75.6351C76.4713 6.60185 77.1466 7.27921 77.1466 8.11785V9.98866C77.1466 10.8273 76.527 11.4448 75.6908 11.4448H70.0715V9.98866H75.4904V8.11785H71.4543V6.60185Z" fill="#737373"/>
                    <path d="M78.2746 1.92482V1H79.9469V3.20982C79.0303 3.20982 78.2746 2.8441 78.2746 1.92482ZM79.9469 3.20982H83.9208C84.8052 3.20982 85.607 3.81263 85.607 4.69965V11.4448H83.9347V4.69965L79.9469 4.70708V3.20982ZM79.9469 11.4448H78.2746V4.70708H79.9469V11.4448Z" fill="#737373"/>
                    <path d="M92.894 4.74716H88.3916V9.98866H86.7354V4.74716C86.7354 3.90853 87.4107 3.21504 88.263 3.21504H91.3664C92.2186 3.21504 92.894 3.90853 92.894 4.74716ZM92.894 9.98866V4.74716H94.5502V9.98866C94.5502 10.8273 93.8597 11.4448 93.0236 11.4448H89.9062C89.07 11.4448 88.3916 10.8273 88.3916 9.98866H92.894Z" fill="#737373"/>
                    <path d="M95.6829 3.21504H97.3392V9.98866C96.4226 9.98866 95.6829 9.23066 95.6829 8.31138V3.21504ZM101.343 3.21504H102.999V8.31138C102.999 9.23066 102.26 9.98866 101.343 9.98866V3.21504ZM101.327 11.4448H97.3392V9.98866H101.327V11.4448Z" fill="#737373"/>
                    <path d="M27.1078 15.1681H22.6054V20.4096H20.9492V15.1681C20.9492 14.3295 21.5933 13.6907 22.4456 13.6907H25.563C26.4152 13.6907 27.1078 14.3295 27.1078 15.1681ZM27.1078 20.4096V15.1681H28.764V20.4096C28.764 21.2482 28.0887 21.9256 27.2525 21.9256H24.117C23.2808 21.9256 22.6054 21.2482 22.6054 20.4096H27.1078Z" fill="#737373"/>
                    <path d="M33.0447 13.6907H35.6634C36.4995 13.6907 37.2131 14.3295 37.2131 15.1681V21.9256H35.5569V15.1681H31.5691C31.5691 14.3295 32.2086 13.6907 33.0447 13.6907ZM31.5691 21.9256H29.8968V15.1681H31.5691V21.9256Z" fill="#737373"/>
                    <path d="M39.9981 21.9256H38.3419V13.6782H39.9981V21.9256Z" fill="#737373"/>
                    <path d="M41.1182 14.9361V13.6782H42.7744V16.5973C41.8578 16.5973 41.1182 15.8554 41.1182 14.9361ZM42.7744 21.9256H41.1182V16.9843H42.7744V21.9256Z" fill="#737373"/>
                    <path d="M47.1354 13.6907H49.754C50.5902 13.6907 51.2108 14.3295 51.2108 15.1681V21.9256H49.5546V15.1681H45.5668C45.5668 14.3295 46.2993 13.6907 47.1354 13.6907ZM45.5668 21.9256H43.8944V15.1681H45.5668V21.9256Z" fill="#737373"/>
                    <path d="M53.869 13.6907H58.3581C59.1942 13.6907 59.8488 14.3134 59.8488 15.1681V17.2163H59.8327C59.7684 17.9905 59.1252 18.5872 58.3373 18.5872H54.0118V17.0551H58.1926V15.1681H54.0118V17.0551C53.0953 17.0551 52.3395 16.3132 52.3395 15.3939V15.1681H52.3556C52.3556 14.3134 53.0328 13.6907 53.869 13.6907ZM52.3395 20.2645V20.2483C52.3395 19.3291 53.0953 18.5872 54.0118 18.5872V20.4096H59.5433V21.9256H54.0118C52.8541 21.9256 52.3395 21.1837 52.3395 20.2645Z" fill="#737373"/>
                    <path d="M4.96758 3.30566H0.134671C0.0602942 3.30566 0 3.36596 0 3.44034V17.385C0 17.4593 0.0602942 17.5196 0.134671 17.5196H4.96758C5.04196 17.5196 5.10225 17.4593 5.10225 17.385V3.44033C5.10225 3.36596 5.04196 3.30566 4.96758 3.30566Z" fill="#737373"/>
                    <path d="M18.7047 17.5222H5.10156V22.7926H18.7047V17.5222Z" fill="#737373"/>
                </svg>
                <span class="text_S">Построили сайт</span>
            </div>
        </div>
    </div>
</footer>
<div class="center-line"></div>

