<header  id="header" class="u-flex u-align-center">
    <div id="header_inner" class="header-inner width-container u-flex text-b-M">
        <nav id="header_menu_nav" class="header-menu-nav u-flex u-align-center">
            <button id="header_menu_btn" class="menu-btn header-menu-item btn-custom mb-hide">МЕНЮ</button>
            <ul id="header_menu_list" class="header-menu-list resetListStyle u-flex u-align-center">
                <li>
                    <a href="" class="u-flex header-menu-item">ГЛАВНАЯ</a>
                </li>
                <li>
                    <a href="" class="u-flex header-menu-item">О НАС</a>
                </li>
                <li>
                    <a href="" class="u-flex header-menu-item ">БЛОГ</a>
                </li>
                <li>
                    <a href="" class="u-flex header-menu-item">КОНТАКТЫ</a>
                </li>
                <li>
                    <a href="" class="u-flex header-menu-item">BRIMMER BUSINESS</a>
                </li>
                <li>
                    <a href="" class="u-flex header-menu-item">BRIMMER family</a>
                </li>
            </ul>
        </nav>

        <div class="header-soc u-flex u-gap-20">
            <a href="" class="u-flex u-align-center u-gap-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM12.2422 2H3.75781C2.7875 2 2 2.7875 2 3.75781V12.2422C2 13.2125 2.7875 14 3.75781 14H12.2422C13.2125 14 14 13.2125 14 12.2422V3.75781C14 2.7875 13.2125 2 12.2422 2ZM8 11.1875C6.25627 11.1875 4.83594 9.76716 4.83594 8.02344C4.83594 6.27966 6.25627 4.85938 8 4.85938C9.74373 4.85938 11.1641 6.27966 11.1641 8.02344C11.1641 9.76716 9.74373 11.1875 8 11.1875ZM11.8672 4.85938C11.4805 4.85938 11.1641 4.54297 11.1641 4.15625C11.1641 3.76953 11.4805 3.45312 11.8672 3.45312C12.2539 3.45312 12.5703 3.76953 12.5703 4.15625C12.5703 4.54297 12.2539 4.85938 11.8672 4.85938ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625ZM8 5.5625C6.64297 5.5625 5.53906 6.66641 5.53906 8.02344C5.53906 9.38047 6.64297 10.4844 8 10.4844C9.35703 10.4844 10.4609 9.38047 10.4609 8.02344C10.4609 6.66641 9.35703 5.5625 8 5.5625Z" fill="#0A0A0A"/>
                </svg>
                <span>INST*</span>
            </a>
            <a href="" class="u-flex u-align-center u-gap-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M1.30871 7.91592L4.52893 9.00958L12.1741 4.33569C12.2849 4.26791 12.3985 4.41842 12.3029 4.5064L6.51492 9.83395L6.29968 12.8166C6.28329 13.0435 6.55661 13.1698 6.71881 13.0103L8.50092 11.2579L11.7588 13.7241C12.1099 13.99 12.6184 13.8026 12.7131 13.3724L14.9816 3.07244C15.111 2.48486 14.5352 1.98904 13.9734 2.20422L1.29233 7.06011C0.894525 7.21246 0.90536 7.77895 1.30871 7.91592Z" fill="#0A0A0A"/>
                </svg>
                <span>TG</span>
            </a>
        </div>

        <div class="header__contacts u-flex u-align-center w-100">
            <div class="mobile-header">
                <a href="tel:+71234567890" class="header__phone u-flex u-gap-8 u-align-center u-spaceNowrap">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M15 10.7252V14.145C15.0002 14.2627 14.9766 14.3792 14.9308 14.4877C14.8849 14.5961 14.8177 14.6942 14.7331 14.7761C14.5857 14.9195 14.3882 14.9998 14.1824 15C14.171 15 14.1595 14.9997 14.148 14.9992C10.7088 14.8523 7.45053 13.418 5.01958 10.9809C2.58206 8.5498 1.14755 5.2912 1.00072 1.85173C0.996122 1.74418 1.01354 1.63683 1.05191 1.53626C1.09027 1.43569 1.14878 1.34402 1.22384 1.26686C1.30573 1.1823 1.40381 1.11509 1.51223 1.06924C1.62065 1.02339 1.7372 0.999845 1.85491 1H5.27468C5.47661 1.00086 5.67154 1.07408 5.8241 1.20637C5.97666 1.33866 6.07674 1.52126 6.10618 1.72103L6.55789 4.88293C6.57602 5.01202 6.564 5.14356 6.52278 5.26723C6.48155 5.3909 6.41224 5.50334 6.32028 5.59573L4.97912 6.93688C4.93454 6.98059 4.90573 7.03787 4.89722 7.09973C4.8887 7.16159 4.90097 7.22452 4.93208 7.27866C5.8787 8.82289 7.17721 10.1213 8.72153 11.0678C8.7756 11.0988 8.83843 11.111 8.90017 11.1025C8.96192 11.094 9.0191 11.0652 9.06277 11.0208L10.4042 9.67964C10.4967 9.58781 10.6091 9.51858 10.7327 9.47736C10.8563 9.43614 10.9877 9.42405 11.1168 9.44203L14.2787 9.89373C14.4785 9.92312 14.6612 10.0232 14.7935 10.1757C14.9259 10.3283 14.9991 10.5233 15 10.7252Z" fill="#0A0A0A"/>
                    </svg>
                    +7 (123) 456-78-90
                </a>

                <button id="mobile_menu_btn" class="mobile-menu-btn mb-show btn-custom">
                    <svg class="u-relative" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M4 5H20" stroke="#0A0A0A" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M4 12H20" stroke="#0A0A0A" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M4 19H20" stroke="#0A0A0A" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>


            <nav class="header__lang-nav" aria-label="Выбор языка">
                <ul class="header__lang-list resetListStyle u-flex">
                    <li>
                        <a href="/ru" class="header__lang-link btn-custom active" lang="ru" hreflang="ru">RU</a>
                    </li>
                    <li>
                        <a href="/en" class="header__lang-link btn-custom" lang="en" hreflang="en">ENG</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="menu-overlay" id="menu_overlay" role="dialog" aria-modal="true" aria-labelledby="popupTitle" tabindex="-1" data-menu-overlay></div>



